body {
  background-color: #FF0051;
}

.label {
  display: none;
}

@media screen and (min-width: 520px){

  body {
    background-color: #E2DF9A;
  }

}

@media screen and (max-width: 767px) {

  .mobile {
    display: inline-block;
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  body {
    background-color: #EBE54D;
  }

  .tablet {
    display: inline-block;
  }

}


@media screen and (min-width: 1024px) and (max-width: 1279px) {

  body {
    background-color: #757449;
  }

  .desktop-small {
    display: inline-block;
  }

}


@media screen and (min-width: 1280px){

  body {
    background-color: #4B490B;
  }

  .desktop-large {
    display: inline-block;
  }

}
